@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonftePadrao: 'Prompt', sans-serif;
    --fonteSegundaria: 'Poiret One';
    --cor01: #3B42BF;
    --cor02: #6273D9;
    --cor03: #7790D9;
    --cor04: #A7BAF2;
    --cor05: #F2F2F2;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor05);
    font-family: var(--fonftePadrao);
}

.conteudo{
    background-color: var(--cor01);
    margin: 50px auto 0 auto;
    width: 90vw;
    max-width: 800px;
    max-height: 800px;
    border-radius: 20px;
    padding: 55px;
    position: relative;
}

.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    /*
    position: fixed;
    width: 580px;*/
}

#inputNovaTarefa{
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: none;
    font-size: 1.2rem;
    background-color: var(--cor05);
}

.topo button{
    width: 50px;
    border-radius: 12px;
    border: 1px solid var(--cor03);
    background-color: var(--cor05);
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.topo button:hover{
    background-color: var(--cor04);
}

.main{
    position: relative;
    width: 100%;
    max-height: 600px;
    border-radius: 12px;
    overflow: scroll;
}

.listaTarefas{
    list-style: none;
}

.listaTarefas li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 20px;
    background-color: var(--cor03);
    border-radius: 12px;
    margin-top: 20px;
}

.textoTarefa{
    width: 300px;
    word-wrap: break-word;
    text-align: justify;
    line-height: 1.2rem;
}

.listaTarefas li div{
    display: flex;
}

.listaTarefas li div button:nth-last-child(2){
    margin-right: 15px;
}

.btn-controle{
    width: 35px;
    height: 35px;
    border: 1px solid var(--cor02);
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-controle:hover{
    background-color: var(--cor02);
}

.btn-controle img{
    width: 25px;
}

#janelaEditFundo{
    position: fixed;
    top: 0;
    background-color: var(--cor01);
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 100;
    transition: 0.3;
    display: none;
}

#janelaEditFundo.abrir{
    display: block !important;
}

#janelaEdit{
    position: fixed;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    background-color: var(--cor03);
    padding: 20px;
    border: 1px solid var(--cor02);
    border-radius: 20px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.531);
    display: none;
}

#janelaEdit.abrir{
    display: block !important;
}

#janelaEdit form{
    width: 100%;
    margin-top: 20px;
}

.topo-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.35rem;
}

.topo-edit button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.397);
}

.topo-edit button:hover{
    background-color: var(--cor02);
}

.form-linha{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-linha label{
    margin-bottom: 7px;
}
.form-linha:nth-child(2) label{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.form-linha input{
    padding: 15px;
    border-radius: 12px;
    border: #3B42BF;
    outline: none;
    font-size: 1.2rem; 
    background-color: var(--cor05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

.form-linha button{
    margin-bottom: 10px;
    background-color: var(--cor05);
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    cursor: pointer;
    transition: 0.3s;
}

.form-linha button:hover{
    background-color: var(--cor02);
}























